.content-main-body-list{
    width: 90%;
    height: auto;
    max-height: 480px;
    margin: 20px 0;
    background-color: #fff;
    text-align: left;
    border-collapse: collapse;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    table-layout: fixed;
}

.content-main-body-list th,
.content-main-body-list td{
    padding: 16px 28px;
    height: 25px;
    vertical-align: middle;
}

.content-main-body-list thead tr{
    color: #fff;
    background-color: #4d84e2;
    text-align: left;
    font-weight: bold;
}

.content-main-body-list thead th:first-child{
    width: 100px;
}
.content-main-body-list .list-center{
    width: 80px;
    text-align: center;
}

.content-main-body-list thead th:nth-child(4){
    width: 120px;
}

.content-main-body-list thead th:nth-child(5){
    width: 200px;
}

.content-main-body-list tbody tr{
    border-bottom: 1px solid #ddd;
}
.content-main-body-list tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-main-body-list tbody tr:last-child{
    border-bottom: 2px solid #4d84e2;
}

.content-main-body-list tbody tr td:last-child{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-main-body-list td a{
    transition: 0.5s all ease;
}

.content-main-body-list td a:hover{
    color: #1863e4;
}

.list-page{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.list-page b,
.list-page a{
    margin-right: 15px;
}