.content-main-body-list{
    width: 90%;
    height: auto;
    margin: 20px 0;
    background-color: #fff;
    text-align: left;
    border-collapse: separate;
    border-radius: 15px;
}

.content-main-body-list th {
    padding: 16px 32px;
    letter-spacing: 0.1rem;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}
.content-main-body-list td{
    padding: 20px 32px;
    letter-spacing: 0.1rem;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.content-main-body-list td a{
    color: #777;
    transition: 0.5s all ease;
}
.content-main-body-list td a:hover{
    color: #1863e4;
}
.content-main-body-list tbody tr:nth-child(odd){
    background-color: #4481eb;
    color: #fff;
}

.content-main-body-list tbody tr:nth-child(odd) a{
    color: #fff;
}
.content-main-body-list tbody tr:nth-child(odd) a:hover{
    color: #2d2d2d;
}

.list-page{
    width: 90%;
    display: flex;
    justify-content: center;
}
.list-page b,
.list-page a{
    margin-right: 15px;
}