<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layour}">
<head>
    <title>우동소-내 계정</title>
</head>

<th:block layout:fragment="content">

    <div class="content-body profile">

        <div class="content-profile-body">
            <div class="content-profile-top">
                <div class="content-profile-info-body">
                    <div class="content-profile-img">
                        <img th:src="${userInfo.profileUrl}" th:onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP3lC0SfgqCcTGipFh64hddM6xgBYQj90wOA&usqp=CAU';">
                    </div>
                    <div class="content-profile-student_info">
                        <p class="text user-nickname"> 안녕하세요 [[${userInfo.nickname}]] 님</p>
                        <th:block th:if="${userInfo.role == 'ROLE_ADMIN'}">
                            <p class="text user-role">운영자</p>
                        </th:block>
                        <th:block th:if="${userInfo.role == 'ROLE_MANAGER'}">
                            <p class="text user-role"> [[${userInfo.university}]] 관리자 </p>
                        </th:block>
                        <th:block th:if="${userInfo.role == 'ROLE_USER'}">
                            <p class="text user-role"> [[${userInfo.university}]] 학생 </p>
                        </th:block>
                        <p th:text="${userInfo.classOf}" class="user-classOf"></p>
                    </div>
                </div>
                <div class="content-profile-personal">
                    <button class="content-profile-personal-filed" id="user-info-change">
                        <i class='bx bx-edit-alt'></i>
                        <span>내 정보 변경</span>
                    </button>
                    <button class="content-profile-personal-filed" id="password-change">
                        <i class='bx bx-lock-alt'></i>
                        <span>비밀번호 변경</span>
                    </button>
                    <th:block th:if="${userInfo.role == 'ROLE_USER'}">
                        <button class="content-profile-personal-filed" id="manager-apply">
                            <i class='bx bx-group'></i>
                            <span>대학교 관리자 신청</span>
                        </button>
                    </th:block>
                </div>
            </div>

            <!-- 계정 설정 Content 하단 영역 -->
            <div class="content-profile-bottom">

                <!-- Content 하단 목록 영역 -->
                <div class="content-profile-state-header">

                    <!-- 일반 회원 상태 목록 -->
                    <th:block th:if="${userInfo.role == 'ROLE_USER'}">
                        <div class="content-profile-state-filed active" id="society-member-state" onclick="getListBtn(this.id, 'societyMemberState')">
                            <span>동아리 가입 신청 결과</span>
                        </div>

                        <div class="content-profile-state-filed" id="society-create-state" onclick="getListBtn(this.id, 'societyCreateState')">
                            <span>동아리 개설 신청 결과</span>
                        </div>

                        <div class="content-profile-state-filed" id="manager-member-state"  onclick="getListBtn(this.id, 'managerMemberState')">
                            <span>대학교 관리자 신청 결과</span>
                        </div>
                    </th:block>

                    <!-- 학교 관리자 회원 상태 목록 -->
                    <th:block th:if="${userInfo.role == 'ROLE_MANAGER'}">
                        <div class="content-profile-state-filed active" id="society-create-list" onclick="getListBtn(this.id, 'societyCreateList')">
                            <span>동아리 개설 신청 목록</span>
                        </div>
                    </th:block>

                    <!-- 어드민 계정 상태 목록 -->
                    <th:block th:if="${userInfo.role == 'ROLE_ADMIN'}">
                        <div class="content-profile-state-filed active" id="manager-member-list" onclick="getListBtn(this.id, 'societyMemberState')">
                            <span>대학교 관리자 신청자 명단</span>
                        </div>
                    </th:block>


                </div>

                <!-- Content 하단 목록 별 내용 영역 -->
                <div class="content-profile-state-list">

                    <!-- 어드민 계정 - 대학교 관리자 신청 결과 -->
                    <th:block th:if="${userInfo.role == 'ROLE_ADMIN'}">
                        <div  class="content-profile-state-list_item manager-list show">
                            <div th:each="ManagerList: ${listUniversityManagerAdmin}" th:if="${ManagerList.state == 0}" class="manager-user-list">
                                <div class="manager-user-list_left">
                                    <div class="manager-user-list_img">
                                        <img th:src="${ManagerList.proofImageUrl}" th:onerror="this.src='https://www.survivorsuk.org/wp-content/uploads/2017/01/no-image.jpg';">
                                    </div>
                                </div>

                                <div class="manager-user-list_right">
                                    <div class="manager-user-list_right-user-info">
                                        <span> [[${ManagerList.name}]] / [[${ManagerList.id}]] </span>
                                    </div>
                                    <div class="manager-user-list_right-school-info">
                                        <span>[[${ManagerList.university}]]</span>
                                        <span>[[${ManagerList.major}]]</span>
                                        <span>[[${ManagerList.classOf}]]</span>
                                    </div>
                                    <div class="manager-user-list_right-createAt-info">
                                        <span>[[${ManagerList.createdAt}]]<</span>
                                    </div>
                                    <div class="manager-user-list_right-button">
                                        <form th:action="@{/user/manager-accept/{id}(id = ${ManagerList.id})}"
                                              method="post">
                                            <button>승인</button>
                                        </form>
                                        <button th:applyName="${ManagerList.name}" th:applyId="${ManagerList.id}" onclick="ManagerRejectBtn(this.getAttribute('applyName'), this.getAttribute('applyId'))">거절</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/ManagerReject/ManagerRejectDragScroll.js}"></script>
                    </th:block>

                    <!-- 대학교 관리자 - 동아리 개설 신청 결과 -->
                    <th:block th:if="${userInfo.role == 'ROLE_MANAGER'}">
                        <div class="content-profile-state-list_item show" id="societyCreateList">

                            <table class="list-table society-list">
                                <thead>
                                <tr>
                                    <th>사용자명</th>
                                    <th>동아리명</th>
                                    <th>카테고리</th>
                                    <th>동아리 간단 소개</th>
                                    <th>동아리 상세 소개</th>
                                    <th></th>
                                </tr>
                                </thead>
                                    <tbody>
                                        <tr th:each="ApplyState: ${SocietyCreatelist}" th:if="${ApplyState.enabled == 0}">
                                                <td th:text="${ApplyState.userName}"></td>
                                                <td th:text="${ApplyState.societyName}"></td>
                                                <td th:text="${ApplyState.category}"></td>
                                                <td th:text="${ApplyState.simpleDesc}" class="text-over"></td>
                                                <td th:text="${ApplyState.detailDesc}" class="text-over"></td>
                                                <td class="refuse">
                                                    <form th:action="@{/society/accept/{id}(id = ${ApplyState.number})}"
                                                          method="post">
                                                        <button type="submit" class="check-on">
                                                            <i class='bx bx-check'></i>
                                                        </button>
                                                    </form>
                                                    <button th:societyName="${ApplyState.societyName}" th:societyNumber="${ApplyState.number}"
                                                            onclick="RejectBtn(this.getAttribute('societyName'), this.getAttribute('societyNumber'))"
                                                            class="check-off reject-btn">
                                                        <i class='bx bx-x'></i>
                                                    </button>
                                                </td>

                                        </tr>
                                    </tbody>
                            </table>

                        </div>
                    </th:block>

                    <!-- 일반 계정 - 동아리 가입, 개설, 관리자 신청 결과 -->
                    <th:block th:if="${userInfo.role == 'ROLE_USER'}">
                        <!-- 일반 유저 동아리 가입 신청 결과 -->
                        <div class="content-profile-state-list_item show" id="societyMemberState">

                            <table class="list-table member">
                                <thead>
                                <tr>
                                    <th>동아리명</th>
                                    <th>가입 신청날짜</th>
                                    <th>상태</th>
                                    <th>사유</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ApplyState: ${listApplyStatus}">
                                    <td th:text="${ApplyState.name}"></td>
                                    <td th:text="${ApplyState.createdAt}"></td>

                                    <th:block th:if="${ApplyState.state == 0}">
                                        <td class="wait">
                                            <div>
                                                대기중
                                            </div>
                                        </td>
                                    </th:block>

                                    <th:block th:if="${ApplyState.state == 1}">
                                        <td class="ok">
                                            <div>
                                                승인
                                            </div>
                                        </td>
                                    </th:block>

                                    <th:block th:if="${ApplyState.state == -1}">
                                        <td class="fails">
                                            <div>
                                                거절
                                            </div>
                                        </td>
                                    </th:block>

                                    <td th:text="${ApplyState.rejectReason}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- 일반 유저 동아리 개설 신청 결과 -->
                        <div class="content-profile-state-list_item" id="societyCreateState">

                            <table class="list-table create">
                                <thead>
                                <tr>
                                    <th>동아리명</th>
                                    <th>개설 신청날짜</th>
                                    <th>동아리 간단 소개</th>
                                    <th>상태</th>
                                    <th>사유</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="CreateState: ${listCreateStatus}">
                                    <td th:text="${CreateState.societyName}"></td>
                                    <td th:text="${CreateState.createdAt}"></td>
                                    <td th:text="${CreateState.simpleDesc}"></td>

                                    <th:block th:if="${CreateState.state == 0}">
                                        <td class="wait">
                                            <div>
                                                대기중
                                            </div>
                                        </td>
                                    </th:block>

                                    <th:block th:if="${CreateState.state == 1}">
                                        <td class="ok">
                                            <div>
                                                승인
                                            </div>
                                        </td>
                                    </th:block>

                                    <th:block th:if="${CreateState.state == -1}">
                                        <td class="fails">
                                            <div>
                                                거절
                                            </div>
                                        </td>
                                    </th:block>

                                    <td th:text="${CreateState.rejectReason}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- 일반 유저 대학교 관리자 신청 결과 -->
                        <div class="content-profile-state-list_item" id="managerMemberState">
                            <table class="list-table manager">
                                <thead>
                                <tr>
                                    <th>학교</th>
                                    <th>관리자 신청날짜</th>
                                    <th>상태</th>
                                    <th>사유</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="UniversityManagerState: ${listUniversityManager}">
                                    <td th:text="${universityManager}"></td>
                                    <td th:text="${UniversityManagerState.createdAt}"></td>
                                    <th:block th:if="${UniversityManagerState.state == 0}">
                                        <td class="wait">
                                            <div>
                                                대기중
                                            </div>
                                        </td>
                                    </th:block>

                                    <th:block th:if="${UniversityManagerState.state == 1}">
                                        <td class="ok">
                                            <div>
                                                승인
                                            </div>
                                        </td>
                                    </th:block>

                                    <th:block th:if="${UniversityManagerState.state == -1}">
                                        <td class="fails">
                                            <div>
                                                거절
                                            </div>
                                        </td>
                                    </th:block>

                                    <td th:text="${UniversityManagerState.rejectReason}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </th:block>

                </div>

            </div>

        </div>

    </div>

    <!-- 내 정보 변경 모달창 -->
    <div class="profile-page-popup-box" id="user-info-popup">
        <div class="profile-page-popup-content">
            <div class="profile-page-popup-content-header">
                <h2>내 정보 변경</h2>
                <i class='bx bx-x' id="user-info-popup-close"></i>
            </div>
            <form th:action="@{/user/my-info}"
                  method="post"
                  name="myInfoForm"
                  enctype="multipart/form-data"
                  class="profile-page-popup-content-info-body">
                <div class="profile-page-popup-content-info-top">
                    <div class="profile-page-popup-content-info-change-profile">
                        <img id="change-profile" th:src="${userInfo.profileUrl}" th:onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP3lC0SfgqCcTGipFh64hddM6xgBYQj90wOA&usqp=CAU';">
                        <input type="file" id="change-profile-btn" accept="image/*" name="profileImage">
                        <label for="change-profile-btn">
                            <i class='bx bx-camera' ></i>
                        </label>
                    </div>
                </div>

                <div class="profile-page-popup-content-info-line"></div>

                <div class="profile-page-popup-content-info-bottom">

                    <div class="profile-page-popup-content-info-change-university-info">
                        <div class="profile-page-popup-content-info-change-university-filed">
                            <span>지역</span>
                            <select id="region" name="region">
                                <option th:value="${userInfo.region}">[[${userInfo.region}]]</option>
                                <optgroup label="특별시">
                                    <option value="서울">서울특별시</option>
                                </optgroup>

                                <optgroup label="광역시">
                                    <option value="부산">부산광역시</option>
                                    <option value="대구">대구광역시</option>
                                    <option value="인천">인천광역시</option>
                                    <option value="광주">광주광역시</option>
                                    <option value="대전">대전광역시</option>
                                    <option value="울산">울산광역시</option>
                                </optgroup>

                                <optgroup label="특별자치시">
                                    <option value="세종">세종특별자치시</option>
                                </optgroup>

                                <optgroup label="도">
                                    <option value="강원">강원도</option>
                                    <option value="경기">경기도</option>
                                    <option value="경남">경상남도</option>
                                    <option value="경북">경상북도</option>
                                    <option value="전남">전라남도</option>
                                    <option value="전북">전라북도</option>
                                    <option value="충남">충청남도</option>
                                    <option value="충북">충청북도</option>
                                </optgroup>

                                <optgroup label="특별자치도">
                                    <option value="제주">제주도</option>
                                </optgroup>

                            </select>
                        </div>
                        <div class="profile-page-popup-content-info-change-university-filed">
                            <span>학교</span>
                            <select id="school" name="university">
                                <option th:value="${userInfo.university}">[[${userInfo.university}]]</option>
                            </select>
                        </div>
                        <div class="profile-page-popup-content-info-change-university-filed">
                            <span>학과</span>
                            <select id="major" name="major">
                                <option th:value="${userInfo.major}">[[${userInfo.major}]]</option>
                            </select>
                        </div>

                        <div class="profile-page-popup-content-info-change-university-filed">
                            <span>학번</span>
                            <input type="text" th:value="${userInfo.classOf}" class="update-my-info" name="classOf">
                        </div>
                    </div>
                    <div class="profile-page-popup-content-info-change-university-info">
                        <div class="profile-page-popup-content-info-change-university-filed">
                            <span>아이디</span>
                            <input type="text" th:value="${userInfo.id}" onfocus="this.value='아이디는 변경 불가능합니다.';this.style.color='#ff3860'"  name="id" readonly>
                        </div>
                        <div class="profile-page-popup-content-info-change-university-filed">
                            <span>이름</span>
                            <input type="text" th:value="${userInfo.name}" name="name" class="update-my-info">
                        </div>
                        <div class="profile-page-popup-content-info-change-university-filed">
                            <span>닉네임</span>
                            <input type="text" th:value="${userInfo.nickname}" class="update-my-info" name="nickname">
                        </div>
                        <div class="profile-page-popup-content-info-change-university-filed">
                            <span>연락처</span>
                            <input type="text" th:value="${userInfo.contact}" class="update-my-info" name="contact">
                        </div>
                    </div>
                </div>

                <button class="popup-content-footer" id="update-my-info-btn">수정하기</button>

            </form>
        </div>
    </div>
    <!-- 비밀번호 변경 모달창 -->
    <div class="profile-page-popup-box" id="password-change-popup">
        <div class="profile-page-popup-content">
            <div class="profile-page-popup-content-header">
                <h2>비밀번호 변경</h2>
                <i class='bx bx-x' id="password-change-popup-close"></i>
            </div>

            <form th:action="@{/user/update-password}" method="post" class="profile-page-popup-content-info-body">
                <div class="profile-page-content-password-filed filed-validation">
                    <span>현재 비밀번호</span>
                    <input type="password" name="currentPassword" id="current-password" placeholder="현재 비밀번호">
                    <div class="password-error error"></div>
                </div>

                <div class="profile-page-content-password-filed filed-validation">
                    <span>새 비밀번호</span>
                    <input type="password" name="updatePassword" id="update-password" placeholder="새 비밀번호">
                    <div class="password-error error"></div>
                </div>


                <div class="profile-page-content-password-filed filed-validation">
                    <span>새 비밀번호 확인</span>
                    <input type="password" name="updatePasswordCheck" id="update-password-check" placeholder="새 비밀번호 확인">
                    <div class="password-error error"></div>
                </div>

                <button class="popup-content-footer" id="update-password-btn">비밀번호 변경</button>
            </form>
        </div>
    </div>

    <!-- 대학교 관리자 신청 모달창 -->
    <div class="profile-page-popup-box" id="manager-apply-popup">
        <div class="profile-page-popup-content">
            <div class="profile-page-popup-content-header">
                <h2>대학교 관리자 신청</h2>
                <i class='bx bx-x' id="manager-apply-popup-close"></i>
            </div>
            <form th:action="@{/user/apply-manager}"
                  name="applyManagerForm"
                  enctype="multipart/form-data"
                  method="post"
                  class="profile-page-popup-content-info-body">

                <div class="profile-page-content-manager-school">
                    <i class='bx bxs-graduation'></i>
                    <span>[[${userInfo.university}]]</span>
                </div>

                <div class="profile-page-content-manager-upload">
                    <div class="upload-file-name">
                        학교 인증 사진 또는 파일
                    </div>
                    <div class="upload-file">
                        <input type="file" accept="image/*" id="proof-image" name="proofImage">
                        <label for="proof-image"> 등록 </label>
                    </div>
                </div>

                <div class="profile-page-content-manager-filed filed-validation">
                    <span> 소속 학교 재학생임을 인증 할 수 있는 자료를 첨부해주세요. </span>
                    <span> 예) 학생증, 재학증명서 필수 포함 정보(이름, 학교명, 학번) </span>
                    <span class="proof-image-error"></span>
                </div>

                <button class="popup-content-footer" id="manager-apply-btn">신청하기</button>
            </form>
        </div>
    </div>
    <!-- 매니저 거절 팝업 창 -->
    <div class="profile-page-popup-box" id="manager-reject-popup">
        <div class="profile-page-popup-content">
            <div class="profile-page-popup-content-header">
                <h2 id="manager-reject-name"></h2>
                <i class='bx bx-x' id="manager-reject-close"></i>
            </div>
            <form th:action="@{/user/manager-reject/{id}}"
                  method="post"
                  class="profile-page-popup-content-info-body"
                  id="manager-reject-popup-form">

                <div class="profile-page-content-reject-filed">
                    <span>관리자 거부 사유를 적어주세요</span>
                    <input type="text" name="content" id="manager-reject-text">
                </div>


                <button class="popup-content-footer" id="manager-reject-text-check">거절하기</button>

            </form>
        </div>
    </div>
    <!-- 동아리 신청 거부 모달창 -->
    <div class="profile-page-popup-box" id="reject-popup">
        <div class="profile-page-popup-content">
            <div class="profile-page-popup-content-header">
                <h2 id="reject-name"></h2>
                <i class='bx bx-x' id="reject-popup-close"></i>
            </div>
            <form th:action="@{/society/reject/{id}}"
                  method="post" class="profile-page-popup-content-info-body"
                  id="reject-popup-form">

                <div class="profile-page-content-reject-filed">
                    <span>동아리 거부 사유를 적어주세요</span>
                    <input type="text" name="content" id="society-reject-text">
                </div>


                <button class="popup-content-footer" id="society-reject-text-check">거절하기</button>

            </form>
        </div>
    </div>

    <!-- 모달창 JS 파일 -->
    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/UserInfoChange/UserInfoModalPopup.js}"></script>
    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/PasswordChange/PasswordChangeModalPopup.js}"></script>
    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/ManagerApply/ManagerApplyModalPopup.js}"></script>
    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/SocietyRejectModalPopup/SocietyRejectModalPopup.js}"></script>
    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/ManagerReject/ManagerRejectModalPopup.js}"></script>

    <!-- 내 정보 변경 프로필 사진 변경 JS 파일 -->
    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/UserInfoChange/ChangeProfile.js}"></script>
    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/UserInfoChange/UpdateMyInfoValidation.js}"></script>

    <!-- 대학교 관리자 신청 파일 주소 JS 파일 -->
    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/ManagerApply/ManagerApplyImgFileName.js}"></script>

    <!--  신청 결과마다 결과 값 JS 파일  -->
    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/EachListCheckState/EachListCheckState.js}"></script>

    <!-- 대학교 정보 JS 파일 -->
    <script th:inline="javascript" th:src="@{/js/pages/RegisterPage/GetSchoolData.js}"></script>

    <script th:inline="javascript" th:src="@{/js/pages/ProfilePage/PasswordChange/UpdatePassword.js}"></script>

    <script>


    </script>

</th:block>




</html>
