/* 내 정보 변경 CSS */
@import "profileUserInfoChange/profileUserInfoChange.css";

/* 비밀번호 변경 CSS */
@import "profilePasswordChange/profilePasswordChange.css";

/* 대학교 관리자 신청 css*/
@import "profileManagerApply/profileManagerApply.css";

/* 모달창 공통 CSS */
.profile-page-popup-box {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease-in-out;
}

.profile-page-popup-box.open{
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
    cursor: auto;
}

.manager-list:has(.profile-page-popup-box.open) {
    position: initial;
}

.profile-page-popup-box .profile-page-popup-content{
    position: absolute;
    width: 650px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.profile-page-popup-box .profile-page-popup-content .profile-page-popup-content-header{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #dddddd;
    font-size: 20px;
    color: #4d84e2;
    font-weight: 600;
}
.profile-page-popup-box .profile-page-popup-content .profile-page-popup-content-header i{
    font-size: 30px;
    cursor: pointer;
}

.profile-page-popup-box .profile-page-popup-content .profile-page-popup-content-info-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 650px;
    overflow: auto;
}

.profile-page-popup-box .profile-page-popup-content .profile-page-popup-content-info-body::-webkit-scrollbar{
    width: 8px;
}
.profile-page-popup-box .profile-page-popup-content .profile-page-popup-content-info-body::-webkit-scrollbar-thumb{
    height: 30%;
    background: rgba(89, 149, 253, 0.7);
    border-radius: 10px;
}
.profile-page-popup-box .profile-page-popup-content .profile-page-popup-content-info-body::-webkit-scrollbar-track{
    background: rgba(33, 122, 244, 0.1);
}

/* 내 정보 변경 - 하단 */
.popup-content-footer{
    width: 80%;
    height: 50px;
    margin: 35px 0 20px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s all ease-in-out;
    background-color: #5995fd;
    color: #fff;
    border: none;
    outline: none;
}

.popup-content-footer:hover {
    background-color: #4d84e2;
}