<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="configFragment">

    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/styles.css}" rel="stylesheet" />

        <!-- Box icon 불러오기 -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!-- 폰트어썸 icon -->
        <script src="https://kit.fontawesome.com/b8a5c71661.js" crossorigin="anonymous"></script>


    </head>
</th:block>

</html>