.profile-page-content-password-filed{
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-page-content-password-filed span{
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 10px 5px;
}

.profile-page-content-password-filed input{
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    transition: 0.3s all ease-in;
}

.profile-page-content-password-filed input:focus{
    border: 1px solid #4d84e2;
}