<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layour}">
<head>
    <title>우동소</title>
</head>

<th:block layout:fragment="content">

    <div class="content-body">

        <!-- Content 헤더 영역 -->
        <div class="content-main-header">

            <!-- Content 헤더-검색창 -->
            <form action="/" method="get" class="header-search">
                <input type="text" placeholder="찾고싶은 동아리명을 적어주세요..." name="searchKeyword"
                       th:value="${searchKeyword}"/>
                <button>
                    <i class='bx bx-search'></i>
                </button>
            </form>

            <!-- 로그인을 하지 않았을 경우 -->
            <th:block th:if="${userInfo == null}">

                <!-- Content 헤더-유저 토글 -->
                <div class="header-user" id="user-profile-toggle">
                    <div class="header-user_img">
                        <i class='bx bx-plus' ></i>
                    </div>
                    <div class="header-user_menu" id="profile-menu">
                        <ul>
                            <li>
                                <a href="/user/login">
                                    <i class='bx bx-log-in' ></i>
                                    로그인
                                </a>
                            </li>
                            <li>
                                <a href="/user/register">
                                    <i class='bx bx-user-plus' ></i>
                                    회원가입
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </th:block>

            <!-- 로그인을 했을 경우 -->
            <th:block th:if="${userInfo != null}">
                <!-- Content 헤더-동아리 등록 버튼 -->
                <div class="header-society-create" id="society-create-btn">
                    <button class="header-society-create_btn">
                        <i class='bx bxs-plus-circle' ></i>
                        <span>동아리 등록</span>
                    </button>
                </div>
                <!-- Content 헤더-유저 토글 -->
                <div class="header-user" id="user-profile-toggle">
                    <div class="header-user_img">
                        <img th:src="${userInfo.profileUrl}" th:onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP3lC0SfgqCcTGipFh64hddM6xgBYQj90wOA&usqp=CAU';"/>
                    </div>
                    <div class="header-user_menu" id="profile-menu">
                        <ul>
                            <h1 th:inline="text">[[${userInfo.nickname}]]</h1>
                            <li>
                                <form th:action="@{/user/logout}" method="get">
                                    <button>
                                        <i class='bx bx-log-in' ></i>
                                        로그아웃
                                    </button>
                                </form>
                            </li>
                            <li>
                                <a href="/user/profile">
                                    <i class='bx bx-user-plus' ></i>
                                    내 계정
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </th:block>
        </div>

        <!-- Content 메인 영역 -->
        <div class="content-main-body">

            <!-- Content 메인-프로젝트 주제 내용 -->
            <div class="content-main-body-topic">
                <div class="content-main-body-topic-content">
                    <h2>학교생활에 여유를 가지고 즐겨봐요!</h2>
                    <p>같은 관심사를 가지고 있는 대학교 학우들과 같이 동아리 활동을 해보거나,</p>
                    <p>학교생활를 졸업하기 전에 개인적으로 즐길 수 있는 취미를 한번 찾아봐요.</p>
                </div>
                <div class="content-main-body-topic-img">
                    <img th:src="@{images/mainimage.png}">
                </div>

            </div>

            <!-- Content 메인-동아리 바로가기 -->
            <div class="content-main-body-society-shortcut">
                <th:block th:each="mySociety: ${mySocietyList}">
                    <div class="content-main-body-society-shortcut-filed">
                        <a th:href="@{/society/detail(number=${mySociety.societyNumber})}">
                            <img th:src="${mySociety.societyProfileUrl}" th:onerror="this.src='https://www.gbeti.or.kr/upload/admin/TB_UNHP_ASP_BIZP_HOME_PAGE_INF/1/1000014332.gif;jsessionid=MDyxWKxpevpaR4sbk7Rvq1PaK2MUn8PbxHeVkVbrRtML6B1cblw6svuegH6mrW1w.nest-was3_servlet_ulearn2'">
                        </a>
                        <span th:text="${mySociety.societyName}"></span>
                    </div>
                </th:block>
            </div>

            <!-- Content 메인-동아리 목록 -->
            <table class="content-main-body-list">
                <thead>
                <tr>
                    <th>동아리명</th>
                    <th class="list-center">유형</th>
                    <th class="list-center">카테고리</th>
                    <th>위치</th>
                    <th>간략 소개</th>
                    <th>상세 소개</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="society: ${list}">
                    <td>
                        <a th:text="${society.name}" th:href="@{/society/detail(number=${society.number})}"></a>
                    </td>
                    <td class="list-center" th:text="${society.type}"></td>
                    <td class="list-center" th:text="${society.category}"></td>
                    <td th:text="${society.position}"></td>
                    <td th:text="${society.simpleDesc}"></td>
                    <td th:text="${society.detailDesc}"></td>
                </tr>
                </tbody>

            </table>

            <div class="list-page">
                <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <a th:if="${page != currentPage}" th:href="@{/static(page= ${page - 1}, searchKeyword= ${param.searchKeyword})}"
                       th:text="${page}"></a>
                    <b th:if="${page == currentPage}" th:text="${page}" style="color:red"></b>
                </th:block>
            </div>

        </div>

    </div>

    <!-- Content-헤더 동아리 등록 버튼 클릭시 팝업박스 -->
    <div class="popup-box" id="popup-box">
        <div class="popup-content">
            <div class="popup-header">
                <h2>동아리 등록</h2>
            </div>
            <form th:action="@{/society/create}"
                  method="post"
                  name="createSocietyForm"
                  enctype="multipart/form-data"
                  class="popup-body">
                <div class="popup-body-wallpaper">
                    <img id="choice-wallpaper" src="https://kmarket.ro/assets/images/no-image.svg">
                    <input type="file" id="upload-wallpaper-btn" accept="image/*" name="backgroundImage">
                    <label for="upload-wallpaper-btn">
                        <i class='bx bx-image-add'></i> &nbsp;
                        배경화면을 선택해주세요
                    </label>
                </div>

                <div class="popup-body-profile">
                    <img id="choice-profile" src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/210/Profile-Icon.png">
                    <input type="file" id="upload-profile-btn" accept="image/*" name="profileImage">
                    <label for="upload-profile-btn">
                        <i class='bx bx-camera' ></i>
                    </label>
                </div>

                <div class="popup-body-society-panel">
                    <div class="popup-body-society-left">
                        <div class="popup-body-society_menu">
                            <span>동아리 이름</span>
                            <input type="text" class="popup-body-society_item" placeholder="동아리 이름을 정해주세요" name="name">
                        </div>

                        <div class="popup-body-society_menu">
                            <span>동아리 유형</span>
                            <select class="popup-body-society_item" name="type">
                                <option value="1">총동아리연합회</option>
                                <option value="2">중앙동아리</option>
                                <option value="3">일반동아리</option>
                            </select>
                        </div>

                    </div>
                    <div class="popup-body-society-center">
                        <div class="popup-body-society_menu">
                            <span>동아리 한 줄 소개</span>
                            <input type="text" class="popup-body-society_item" placeholder="예시) 바퀴에서 오는 자유" name="simpleDesc">
                        </div>
                    </div>
                    <div class="popup-body-society-right">
                        <div class="popup-body-society_menu">
                            <span>카테고리</span>
                            <select class="popup-body-society_item" name="category">
                                <option value="0" selected>문화/취미</option>
                                <option value="1">전시/공연/음악</option>
                                <option value="2">종교</option>
                                <option value="3">학술</option>
                                <option value="4">봉사</option>
                                <option value="5">체육/레저</option>
                                <option value="6">창업</option>
                                <option value="7">기타</option>
                            </select>
                        </div>

                        <div class="popup-body-society_menu">
                            <span>위치</span>
                            <input type="text" class="popup-body-society_item" placeholder="미지정" name="position">
                        </div>
                    </div>
                    <div class="popup-body-society-bottom">
                        <div class="popup-body-society-bottom_menu">
                            <span>동아리 상세 소개</span>
                            <input type="text" class="popup-body-society_item" placeholder="주당 활동 횟수, 활동 계획 등 자유롭게 입력" name="detailDesc">
                        </div>
                    </div>

                </div>
                <div class="popup-footer">
                    <button class="popup-footer_btn">신청하기</button>
                    <button class="popup-footer_btn" onclick="popupClose(event)">취소하기</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 유저 토글 클릭 모달창 -->
    <script th:inline="javascript" th:src="@{/js/pages/IndexPage/ProfileModalWindow.js}"></script>
    <!-- 동아리 등록 모달창 -->
    <script th:inline="javascript" th:src="@{/js/pages/IndexPage/SocietyCreateModalPopup.js}"></script>
    <!-- 동아리 등록-배경사진 변경 -->
    <script th:inline="javascript" th:src="@{/js/pages/IndexPage/UploadWallpaper.js}"></script>
    <!-- 동아리 등록-프로필사진 변경 -->
    <script th:inline="javascript" th:src="@{/js/pages/IndexPage/UploadProfile.js}"></script>

</th:block>




</html>
