<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우동소</title>
</head>
<body>
<a href="/user/login">로그인</a> <br>
<a href="/user/register">회원가입</a> <br>
<a href="/society/create">동아리 등록</a> <br>
<a href="/society/status-list">동아리 현황 목록</a> <br>
<th:block th:if="${userInfo != null}">
    <h1 th:inline="text"><span id="userId">[[${#httpServletRequest.remoteUser}]]</span>님 안녕하세요.</h1>
    <h2 th:text="${userInfo.name}"></h2>
    <img th:src="${userInfo.profileUrl}" style="width: 150px"/>
    <form th:action="@{/user/logout}" method="get">
        <input type="submit" value="로그아웃"/>
    </form>
</th:block>
<div class="layout">
    <table>
        <thead>
        <tr>
            <th>고유번호</th>
            <th>동아리명</th>
            <th>유형</th>
            <th>카테고리</th>
            <th>위치</th>
            <th>프로필</th>
            <th>프로필배경</th>
            <th>한줄소개</th>
            <th>상세소개</th>
            <th>생성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="society: ${list}">
            <td th:text="${society.number}"></td>
            <td>
                <a th:text="${society.name}" th:href="@{/society/detail(number=${society.number})}"></a>
            </td>
            <td th:text="${society.type}"></td>
            <td th:text="${society.category}"></td>
            <td th:text="${society.position}"></td>
            <td><img width="150px" th:src="${society.profileUrl}"></td>
            <td><img width="150px" th:src="${society.backgroundUrl}"></td>
            <td th:text="${society.simpleDesc}"></td>
            <td th:text="${society.detailDesc}"></td>
            <td th:text="${society.createdAt}"></td>
        </tr>
        </tbody>
    </table>
    <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != currentPage}" th:href="@{/(page= ${page - 1}, searchKeyword= ${param.searchKeyword})}"
           th:text="${page}"></a>
        <b th:if="${page == currentPage}" th:text="${page}" style="color:red"></b>
    </th:block>
    <form action="" method="get">
        <input type="text" name="searchKeyword">
        <button type="submit">검색</button>
    </form>
</div>
</body>
</html>
