<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우동소 - 동아리 개설 신청 목록</title>
</head>
<body>
<a href="/">우동소</a>

<h3>동아리 개설 신청 목록</h3>


<div th:each="v: ${list}">
    <div style="border: 1px solid #ff5b5b;">
        <div th:text="${v.userName}"></div>
        <div th:text="${v.societyName}"></div>
        <div th:text="${v.category}"></div>
        <div th:text="${v.simpleDesc}"></div>
        <div th:text="${v.detailDesc}"></div>
        <div th:text="${v.enabled}"></div>

        <form th:action="@{/society/accept/{id}(id = ${v.number})}"
              method="post">
            <button type="submit">수락</button>
        </form>
        <form th:action="@{/society/reject/{id}(id = ${v.number})}"
              method="post">
            <input type="text" name="content" >
            <button id="rejectBtn" type="submit">거절</button>
            <!--            <button th:id="${rejectBtn{id}(id = ${v.number})}" type="submit" disabled>거절</button>-->
        </form>
    </div>

</div>
<script>

    // function onClickReject(){
    // alert("")
    // }


    function onChangeReject(value) {
        // console.log('value >> ', value);
        // const rejectBtn = document.getElementById("rejectBtn");
        // if (value.length) rejectBtn.disabled = false;
        // else rejectBtn.disabled = true;

    }

</script>
</body>
</html>