<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우동소 - 동아리 만들기</title>
</head>
<body>
<a href="/">우동소</a>
<h3>동아리 만들기</h3>
<form th:action="@{/society/create}"
      method="post"
      name="createSocietyForm"
      enctype="multipart/form-data"
      onsubmit="return onValidateCreateSociety();">
    <table>
        <tr>
            <td>동아리명</td>
            <td>
                <input type="text" name="name">
            </td>
        </tr>
        <tr>
            <td>동아리 유형</td>
            <td>
                <select name="type">
                    <option value="1" selected>총동아리연합회</option>
                    <option value="2">중앙동아리</option>
                    <option value="3">일반동아리</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>카테고리</td>
            <td>
                <select name="category">
                    <option value="0" selected>문화/취미</option>
                    <option value="1">전시/공연/음악</option>
                    <option value="2">종교</option>
                    <option value="3">학술</option>
                    <option value="4">봉사</option>
                    <option value="5">체육/레저</option>
                    <option value="6">창업</option>
                    <option value="7">기타</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>위치</td>
            <td>
                <input type="text" name="position" placeholder="미지정">
            </td>
        </tr>
        <tr>
        <tr>
            <td>동아리 대표사진</td>
            <td>
                <input type="file" accept="image/*" name="profileImage">
            </td>
        </tr>
        <tr>
            <td>동아리 배경사진</td>
            <td>
                <input type="file" accept="image/*" name="backgroundImage">
            </td>
        </tr>
        <tr>
            <td>동아리 한 줄 소개</td>
            <td>
                <input type="text" name="simpleDesc" placeholder="두 바퀴에서 오는 자유">
            </td>
        </tr>
        <tr>
            <td>동아리 상세 소개</td>
            <td>
                <textarea type="text" name="detailDesc" placeholder="주당 활동 횟수, 활동 계획 등 자유롭게 입력"></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="확인">
</form>
<script>
    const onValidateCreateSociety = () => {

    }
</script>


</body>
</html>