<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${society.name}"></title>

</head>
<body>
<a href="/">우동소</a>

<div th:replace="layout/header" :: headerFragment></div>

<h2 th:text="${society.name}"></h2>
<h3 th:text="${society.simpleDesc}"></h3>
<div th:text="${society.detailDesc}"></div>
<h3 th:text="${society.officerId.getNickname()}"></h3>

<th:block th:if="${society.officerId.getId() != #httpServletRequest.remoteUser}">
    <button th:value="${society.number}"
            onclick="onClickSocietyApply(this.value)">
        가입 신청
    </button>
</th:block>

<th:block th:if="${society.officerId.getId() == #httpServletRequest.remoteUser}">
    <button th:onclick="|location.href='@{/society/update/{number}(number = ${society.number})}'|">수정</button>
    <button th:onclick="|location.href='@{/society/delete(number=${society.number})}'|">삭제</button>
    <br>
    <button onclick="onClickShowSocietyApplyList()">가입신청자 조회</button>
    <div class="society_apply_list" style="display: none">
        <div th:each="v: ${recruitUserList}">
            <img th:src="${v.userProfileUrl}" style="width: 150px; object-fit: cover">
            <div th:text="${v.uId}"></div>
            <div th:text="${v.societyNumber}"></div>
            <div th:text="${v.userId}"></div>
            <div th:text="${v.userName}"></div>
            <div th:text="${v.userUniversity}"></div>
            <div th:text="${v.userMajor}"></div>
            <div th:text="${v.userContact}"></div>
            <div th:text="${v.state}"></div>
            <div th:text="${v.rejectReason}"></div>
            <div th:text="${v.createdAt}"></div>


            <form th:action="@{/society/recruit/accept}"
                  method="post">
                <input type="text" name="uid" th:value="${v.uId}" readonly style="display: none">
                <input type="text" name="number" th:value="${v.societyNumber}" readonly style="display: none">

                <button formmethod="post" type="submit" class="btn btn-md btn-primary">수락</button>
            </form>
            <form th:action="@{/society/recruit/reject}"
                  method="post">
                <input type="text" name="uid" th:value="${v.uId}" readonly style="display: none">
                <input type="text" name="number" th:value="${v.societyNumber}" readonly style="display: none">

                <button id="rejectBtn" type="submit" class="btn btn-md btn-danger">거절</button>
                <input type="text" name="content" class="form-control" style="width: 200px;"
                       onkeyup="onChangeReject(this.value)">
            </form>
        </div>
    </div>
</th:block>

<div th:each="v: ${categoryList}">
    <div th:text="${v.name}" }>
    </div>
    <form th:action="@{/society/category-board/write}" method="post">
        <input type="text" name="number" th:value="${society.number}" readonly style="display: none">
        <input type="text" name="uid" th:value="${v.id}" readonly style="display: none">
        <input type="text" name="title">
        <textarea name="content"></textarea>
        <button type="submit">글쓰기</button>
    </form>
</div>
<br>
<div th:each="v: ${contentList}">
    <div th:text="${v.title}"></div>
    <div th:text="${v.content}"></div>
</div>


<th:block th:if="${society.officerId.getId() == #httpServletRequest.remoteUser}">
    <form th:action="@{/society/category/create}" method="post">
        <input type="text" name="number" th:value="${society.number}" readonly style="display: none">
        <input type="text" name="name">
        <button type="submit">카테고리 추가</button>
    </form>
</th:block>

<div th:replace="layout/footer"></div>
<script th:inline="javascript">

    // class show {
    //     static societyApplyList = false;
    //
    //     static setSocietyApplyList(isShow) {
    //         this.societyApplyList = isShow
    //     }
    //
    //     static getSocietyApplyList() {
    //         return this.societyApplyList;
    //     }
    // }

    const onClickShowSocietyApplyList = () => {
        const sal = document.getElementsByClassName("society_apply_list");
        sal[0].style.display === "none" ? sal[0].style.display = "block" : sal[0].style.display = "none";
    }


    const onClickSocietyApply = (number) => {
        window.event.preventDefault();
        if ([[${#httpServletRequest.remoteUser}]] != null) location.href = `/society/apply/${number}`
        else alert("로그인 후 신청해주세요!")
    }
</script>
</body>
</html>
