<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>동아리 수정</title>
</head>
<body>
<a href="/">우동소</a>
<h2 th:text="${society.name}"></h2>
<form th:action="@{/society/update/{id}(id = ${society.number})}"
      method="post"
      enctype="multipart/form-data"
      onsubmit="return onValidateUpdateSociety();">
    <table>
        <tr>
            <td>위치</td>
            <td>
                <input type="text"
                       name="position"
                       placeholder="미지정"
                       th:value="${society.position}">
            </td>
        </tr>
        <tr>
            <td>동아리 대표사진</td>
            <td>
                <input type="file" accept="image/*" name="profileImage">
            </td>
        </tr>
        <tr>
            <td>동아리 배경사진</td>
            <td>
                <input type="file" accept="image/*" name="backgroundImage">
            </td>
        </tr>
        <tr>
        <tr>
            <td>동아리 한 줄 소개</td>
            <td>
                <input type="text"
                       name="simpleDesc"
                       placeholder="두 바퀴에서 오는 자유"
                       th:value="${society.simpleDesc}">
            </td>
        </tr>
        <tr>
            <td>동아리 상세 소개</td>
            <td>
                <textarea type="text"
                          name="detailDesc"
                          placeholder="주당 활동 횟수, 활동 계획 등 자유롭게 입력"
                          th:text="${society.detailDesc}">
                </textarea>
            </td>
        </tr>
    </table>
    <button type="submit">수정</button>

</form>
<script>
    const onValidateUpdateSociety = () => {
        // const pw = document.registerForm.password.value;
        // const pwCheck = document.registerForm.passwordCheck.value;
        // console.log(pw, pwCheck);
        // if (pw !== pwCheck) {
        //     alert("비밀번호가 일치하지 않습니다.");
        //     return false;
        // } else {
        //     alert("회원가입 완료");
        // }
    }

</script>
</body>
</html>