<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${society.name}"></title>
</head>
<body>
<a href="/">우동소</a>


<!--<h4 th:></h4>-->
<h1 th:inline="text"><span id="userId">[[${#httpServletRequest.remoteUser}]]</span>님 안녕하세요.</h1>


<h2 th:text="${society.name}"></h2>
<h3 th:text="${society.simpleDesc}"></h3>
<div th:text="${society.detailDesc}"></div>
<h3 th:text="${society.officerId}"></h3>

<th:block th:if="${society.officerId != #httpServletRequest.remoteUser}">
    <button th:onclick="|location.href='@{/society/apply/{number}(number = ${society.number})}'|">가입 신청</button>
</th:block>

<th:block th:if="${society.officerId == #httpServletRequest.remoteUser}">
    <button th:onclick="|location.href='@{/society/update/{number}(number = ${society.number})}'|">수정</button>
    <button th:onclick="|location.href='@{/society/delete(number=${society.number})}'|">삭제</button>
</th:block>

</body>
</html>