<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title th:text="우동소 + '-' + ${payload[0].title}"></title>
        <th:block th:replace="fragments/config::configFragment"></th:block>

    </head>

    <div class="society-detail-container">
        <div class="society-detail-body">

            <div class="society-detail-body-posting">
                <figure class="society-detail-body-posting-filed">
                    <img th:each="postImages: ${payload}" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq-VUSkrg28oW0eRkxQCm5p94S8xFVm-6OXw&usqp=CAU">
                </figure>

                <div class="slider-btn-prev" id="slider-prev">
                    <i class='bx bx-chevron-left' ></i>
                </div>

                <div class="slider-btn-next" id="slider-next">
                    <i class='bx bx-chevron-right' ></i>
                </div>

            </div>

            <div class="society-detail-body-user">

                <div class="society-detail-body-user-info">
                    <div class="society-detail-body-user-info-filed">
                        <img th:src="${payload[0].userProfileUrl}" th:onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP3lC0SfgqCcTGipFh64hddM6xgBYQj90wOA&usqp=CAU'">
                        <span>[[${payload[0].userNickname}]] ([[${payload[0].userId}]])</span>
                    </div>
                    <div class="society-detail-body-user-info-filed" onclick="MoveBeforeLocation()">
                        <i class='bx bx-x'></i>
                    </div>
                </div>

                <div class="society-detail-body-user-post-info">
                    <div class="society-detail-body-user-post-info-filed">
                        <h1>[[${payload[0].title}]]</h1>
                        <span>[[${payload[0].createdAt}]]</span>
                    </div>
                    <div class="society-detail-body-user-post-info-filed">
                        <h3>[[${payload[0].content}]]</h3>
                    </div>
                </div>

            </div>

        </div>

        <script th:inline="javascript" th:src="@{/js/pages/Society/Category/ImageSlider.js}"></script>

        <script>
            function MoveBeforeLocation() {
                const referrer = document.referrer;
                location.href = referrer;
            }
        </script>

    </div>

</html>