<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>동아리 수정</title>
</head>
<body>
    <a href="/">우동소</a>
    <h2 th:text="${society.name}"></h2>
    <form th:action="@{/society/updatedo/{id}(id = ${society.number})}" method="post">
        <input type="text" name="simpleDesc" th:value="${society.simpleDesc}"><br>
        <textarea th:text="${society.detailDesc}" name="detailDesc"></textarea><br>
        <input type="text" name="position" th:value="${society.position}"><br>
<!--        <input type="text" th:value="${society.simpleDesc}"><br>-->
<!--        <input type="text" th:value="${society.simpleDesc}"><br>-->

        <button type="submit">수정</button>
    </form>
</body>
</html>