<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우동소 - 내 정보</title>
</head>
<body>
<a href="/">우동소</a>

<h3>내 정보</h3>
<form th:action="@{/user/my-info}"
      method="post"
      name="myInfoForm"
      enctype="multipart/form-data"
>
    <table>
        <tr>
            <td width="144px">아이디</td>
            <td>
                <input th:value="${userInfo.id}" type="text" name="id" readonly>
            </td>
        </tr>
        <tr>
            <td>이름</td>
            <td>
                <input th:value="${userInfo.name}" type="text" name="name">
            </td>
        </tr>
        <tr>
            <td>닉네임</td>
            <td>
                <input th:value="${userInfo.nickname}" type="text" name="nickname">
            </td>
        </tr>
        <tr>
            <td>연락처</td>
            <td>
                <input th:value="${userInfo.contact}" type="text" name="contact">
            </td>
        </tr>
        <tr>
            <td>프로필 사진</td>
            <td>
                <input type="file" accept="image/*" name="profileImage">
            </td>
        </tr>
        <tr>
            <td>지역</td>
            <td>
                <input th:value="${userInfo.region}" type="text" name="region">
            </td>
        </tr>
        <tr>
            <td>대학교</td>
            <td>
                <input th:value="${userInfo.university}" type="text" name="university">
            </td>
        </tr>
        <tr>
            <td>학과</td>
            <td>
                <input th:value="${userInfo.major}" type="text" name="major">
            </td>
        </tr>
        <tr>
            <td>학번</td>
            <td>
                <input th:value="${userInfo.classOf}" type="text" name="classOf">
            </td>
        </tr>
    </table>


    <button type="submit">수정</button>
</form>

</body>
</html>