<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우동소 - 대학 관리자 신청</title>
</head>
<body>
<a href="/">우동소</a>

<h3>대학 관리자 신청</h3>
<form th:action="@{/user/apply-manager}">
    name="applyManagerForm"
    enctype="multipart/form-data"
    onsubmit="return onValidateApplyManagerForm();">
    <div>본인이 재학 또는 재직중인 증빙자료를 첨부해주세요.</div>
    <div>EX) 학생증, 재학증명서, 재직증명서 중 택 1</div>
    <input type="file" accept="image/*" name="backgroundImage">
    <div>
        <span th:text="${userInfo.name}"></span>님은
        <span th:text="${userInfo.university}"></span>&nbsp;소속이며
        업로드한 증빙자료와 회원정보가 일치해야 합니다.
    </div>
    <button type="submit">대학 관리자 신청</button>
</form>

<script>
    const onValidateApplyManagerForm = () => {

    }
</script>

</body>
</html>