<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우동소 - 비밀번호 변경</title>
</head>
<body>
<a href="/">우동소</a>

<h3>비밀번호 변경</h3>

<h3 th:if="${param.fail}">비밀번호가 일치하지 않습니다.</h3>

<form th:action="@{/user/update-password}" method="post">
    <input type="password" name="currentPassword">
    <input type="password" name="updatePassword">
    <input type="password" name="updatePasswordCheck">
    <button type="submit">비밀번호 변경</button>
</form>

</body>
</html>