<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우동소 - 대학 관리자 신청 결과</title>
</head>
<body>
<a href="/">우동소</a>

<h3>대학 관리자 신청 결과</h3>

<h1 th:text="${university}"></h1>

<div th:each="v: ${list}">
    <div style="border: 3px solid orangered">

        <div th:text="${v.state}"></div>
        <div th:text="${v.rejectReason}"></div>
        <img th:src="${v.proofImageUrl}"/> <br>
        신청일:
        <div th:text="${v.createdAt}"></div>

        <!--        <div th:text="${v.name}"></div>-->
        <!--        <div th:text="${v.contact}"></div>-->
        <!--        <div th:text="${v.university}"></div>-->
        <!--        <div th:text="${v.major}"></div>-->
        <!--        <div th:text="${v.classOf}"></div>-->
        <!--        <div th:text="${v.createdAt}"></div>-->
        <!--        <div th:text="${v.state}"></div>-->
        <!--        <div th:text="${v.rejectReason}"></div>-->
        <!--        <img width="150px" th:src="${v.proofImageUrl}">-->


        <!--        <form th:action="@{/user/manager-accept/{id}(id = ${v.id})}"-->
        <!--              method="post">-->
        <!--            <button formmethod="post" type="submit">수락</button>-->
        <!--        </form>-->
        <!--        <form th:action="@{/user/manager-reject/{id}(id = ${v.id})}"-->
        <!--              method="post">-->
        <!--            <input type="text" name="content" onkeyup="onChangeReject(this.value)">-->
        <!--            <button id="rejectBtn" type="submit">거절</button>-->
        <!--        </form>-->
        <!--    </div>-->
    </div>
</div>
</body>
</html>