<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우동소 - 대학 관리자 신청자 명단</title>
</head>
<body>
<a href="/">우동소</a>

<h3>대학 관리자 신청자 명단</h3>

<div th:each="v: ${list}">
    <div style="border: 3px solid orangered; padding: 12px; margin:12px;">

        <div th:text="${v.id}"></div>
        <div th:text="${v.name}"></div>
        <div th:text="${v.contact}"></div>
        <div th:text="${v.university}"></div>
        <div th:text="${v.major}"></div>
        <div th:text="${v.classOf}"></div>
        <div th:text="${v.createdAt}"></div>
        <div th:text="${v.state}"></div>
        <div th:text="${v.rejectReason}"></div>
        <img width="150px" th:src="${v.proofImageUrl}">


        <form th:action="@{/user/manager-accept/{id}(id = ${v.id})}"
              method="post">
            <button formmethod="post" type="submit" class="btn btn-md btn-primary"><span th:text="${v.university}"/> 관리자 수락</button>
        </form>
        <form th:action="@{/user/manager-reject/{id}(id = ${v.id})}"
              method="post">
            <button id="rejectBtn" type="submit" class="btn btn-md btn-danger"><span th:text="${v.university}"/> 관리자 거절</button>
            <input type="text" name="content" class="form-control" style="width: 200px;" onkeyup="onChangeReject(this.value)">
        </form>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</div>
</body>
</html>