<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우동소 - 내 동아리 가입 신청 결과</title>
</head>
<body>
<a href="/">우동소</a>

<h3>내 동아리 개설 신청 결과</h3>

<div th:each="v: ${list}">
    <div style="border: 3px solid orangered">
        <div th:text="${v.userId}"></div>
        <div th:text="${v.societyNumber}"></div>
        <div th:text="${v.societyName}"></div>
        <div th:text="${v.simpleDesc}"></div>
        <div th:text="${v.state}"></div>
        <div th:text="${v.rejectReason}"></div>
        <div th:text="${v.createdAt}"></div>
    </div>
</div>


</div>
</body>
</html>