<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>우동소 - 로그인</title>
</head>
<body>
<a href="/">우동소</a>
<h3>로그인</h3>
    <form action="/user/logindo" method="post" name="loginForm" onsubmit="return onClickValidate();">
        <table>
            <tr>
                <td>아이디</td>
                <td>
                    <input type="text" name="id">
                </td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
        </table>
        <input type="submit" value="확인">
    </form>
    <script>
        function onClickValidate(e){
            e.preventDefault();
            const nullCheck = prop => document.registerForm.prop.value.length == 0 ? false : true
            console.log("check id >> ", nullCheck("id"))
            console.log("check pw >> ", nullCheck("password"))
            if(nullCheck("id") || nullCheck("password")) {
                alert("아이디와 비밀번호를 입력해주세요.");
                return false;
            }
                return false;
        }
    </script>
</body>
</html>