@import "header/header.css";
@import "content/content.css";

/* 동아리 내용 본문 */
.society-body .society-post{
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}