<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>우동소: 로그인</title>
        <th:block th:replace="fragments/config::configFragment"></th:block>

    </head>

    <body>

        <!-- 로그인 페이지 전체적인 구조 -->
        <div class="login-page_container">

            <div class="login-forms-container">

                <a href="/" class="goMain">
                    <i class='bx bx-chevron-left'></i>
                </a>


                <!-- 로그인 아이디 비밀번호 입력 부분 -->
                <div class ="login">

                    <form th:action="@{/user/login}" method="post" name="loginForm" class="login-form">
                        <h2 class="login-form_title">로그인</h2>
                        <div class="login-input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="아이디" name="id">
                        </div>
                        <div class="login-input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="비밀번호" name="password">
                        </div>

                        <div class="login-param_fail">
                            <h3 th:if="${param.fail}">아이디 또는 비밀번호가 일치하지 않습니다.</h3>
                        </div>


                        <input type="submit" value="로그인" class="login-btn solid">
                    </form>
                </div>

            </div>


            <!-- 회원가입 이동 부분 -->
            <div class="register-panels_container">
                <div class="register-panel register-left_panel">
                    <div class="register-panel_content">
                        <h3>저희 사이트는 처음이신가요?</h3>
                        <p>저희 사이트가 처음이시면 아래의 회원가입 버튼을 눌러 동아리의 회원이 되주세요!</p>

                        <a href="/user/register">
                            <button class="register-btn register-btn_transparent">회원가입</button>
                        </a>

                    </div>


                    <!-- 디자인을 위한 이미지 -->
                    <img th:src="@{/images/communication.png}" class="register-panel_image">
                </div>

            </div>

        </div>

        <!--<script>-->
        <!--    const onValidateLogin = () => {-->
        <!--        const isNull = prop => document.getElementsByName(prop)[0].value.length === 0;-->
        <!--        if (isNull("id") || isNull("password")) {-->
        <!--            alert("아이디와 비밀번호를 입력해주세요.");-->
        <!--            return false;-->
        <!--        }-->
        <!--    }-->
        <!--</script>-->

    </body>

</html>